# See https://help.github.com/ignore-files/ for more about ignoring files.

/node_modules

# misc
.vscode
.env
.turbo
package-lock.json
pnpm-lock.yaml
.dockerignore

apps/*/node_modules
pnpm-lock.yaml
apps/htmx/bun.lockb
